<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <link rel="stylesheet" href="/base/stylesheets/index.css" />
    <link rel="stylesheet" href="/templates/default/stylesheets/index.css" />
    {% block head %}{% endblock %}
  </head>
  <body>
    {% block header %}{% endblock %}

    {% block main %}{% endblock %}

    {% block footer %}{% endblock %}

    <script scr="/base/javascripts/index.js"></script>
    <script scr="/templates/default/avascripts/index.js"></script>
  </body>
</html>
