{% extends "template/default/index.html.twig" %}

{% block head %}
  <style>
    h1 {
      text-align: center;
    }
  </style>
{% endblock %}

{% block header %}
  <h1>Lets build something&hellip;</h1>
{% endblock %}


{% block main %}
  <p>Example content for the basic frontpage template.</p>
{% endblock %}

{% endblock %}
  <p>Important footnote is important.</p>
{% endif %}
